/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */


.alert-danger {
  color: red;
}

#wrapper {
  height: 100%;
}

/* ギャラリー設定 */
#gallery {
  list-style: none;
  /*箇条書きの・を削除*/
  overflow: hidden;
  padding-left: 0;
}

#gallery li {
  float: left;
  width: calc(100%/3);
  /*リスト幅をビューポートの1/3で設定*/
  line-height: 0;
  /*行間をなくす⇒上下を詰める*/
}

#gallery img {
  display: block;
  /*imgタグの初期値はinline⇒blockで幅指定を出来るように*/
  width: 100%;
  /*親要素liの幅：calc(100%/3)に合わせる*/
  height: auto;
}
